<div class="flex flex-direction">
  <ul>
    <li><%= link_to "トーク", "#" %></li>
    <li><%= link_to "友達一覧", "#" %></li>
    <li><%= link_to "タイムライン", timelines_path %></li>
    <li><%= link_to "友達を探す", users_path %></li>
  </ul>
</div>