<div class="show">
  <div class="show_sidebar">
    <%= render "show_page/sidebar" %>
  </div>

  <div class="show_myFriend">
    <%= render "show_page/sidebar" %>
  </div>

  <div class="show_message">
    <%= render "show_page/sidebar" %>
  </div>
</div>