<footer class="flex justifyContent-end">
  <ul class="flex">
    <li class="footer_list"><%= link_to "トップへ", root_path %></li>
    <li class="footer_list"><%= link_to "このサイトについて", about_path %></li>
    <li class="footer_list"><%= link_to "お問合せ", contact_path %></li>
  </ul>
</footer>