<p class="friends_content">友達の数：<%= current_user.friends.count %></p>

<div class="friends_content">
  <p class=""><strong>全ての友達</strong></p>
  <% @friends.each do |friend| %>
    <div><%= friend.name %>  <%= link_to "トークへ", friend %></div>
  <% end %>
</div>