.flex {
  display: flex;

  &-direction {
    flex-direction: column
  }
}

.alignItems{
  &-center {
    align-items: center;
  }
}

.justifyContent {
  &-end {
    justify-content: flex-end; 
  }

  &-center {
    justify-content: center;
  }
}

.txt {
  &-sml {
    font-size: 10px;
  }

  &-med {
    font-size: 15px;
  }

  &-lrg {
    font-size: 24px;
  }
}